p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1, h2, ul {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#assigned {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.how, ul {
    padding: 20px;
    margin: 30px;
}

.how {
    background-color: pink;
    border-radius: 25px;
    width: 135px;
    font-weight: 700;
    font-style: italic;
    font-size: 23px;
}

.guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    display: flexbox;
    padding: 2px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


